*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: o;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:pink;
    color: white;
}

.hehe{
    font-size: 1.5rem;
    margin: 5rem;
    
    
}

.link ul{
     margin: 0;
     padding: 0; 
     display: flex;
}

.link li{
    list-style: none;
}

.link a{
    text-decoration: none;
    padding: 1rem;
    display: block;
}

.link li :hover{
    background-color: white;
}

.foot{
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    padding-top: 5px;
    padding-bottom:10px ;
    background-color: black;
    color: white;
}

.image{
    border-radius: 80%;
    max-width: 50%;
    max-height: 500px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.hello{
    width: 400px;
    height: 400px;
    margin: 100px auto;
    position:relative;
}

.hello h1{
    margin: 0;
    padding: o;
    font-size: 3em;
    text-align: center;
    position: relative;
    top: -100%
}

.bca{
    font: bold;
    font-size: 15px;
    color: grey;
    text-align: center;
    position: relative;
    top: -90%;
}

.container{
    text-align: center;
    display: flex;
    justify-content: center;
    top: -10%;
}

.dot {
    background: skyblue;
    height: 10rem;
    width: 10rem;
    border-radius: 80%; 
    line-height: 10rem;
    display: inline-block;
    margin-top: 10%;
    top: -1000%;
    
  }